@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

*{
  font-family: Inter;
}

.bgGreen {
  background-color: #507048;
}

.textGreen {
  color: #507048;
}

.bgLightGreen {
  background-color: #F3F7F1;
}

.h30 {
  min-height: 30vh;
}

.h10 {
  min-height: 7vh;
}

.h50 {
  height: 50vh;
}

.h40 {
  height: 40vh;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

.gray{
  background-color: aqua;
}

.rowContent{
  display: flex;
}

.topImageLeft{
  margin-left: 16.55px;
}

.topImageTop{
  margin-top: 17.49px;
}

.textGreenb {
  color: #507048;
  font-size: 4.5rem;
  font-weight: 800;
}

.carousel{
  width: 1100px;
  margin-left: 175px;
}

@media only screen and (max-width: 375px) {
  .textGreenb {
    color: #507048;
    font-size: 3rem;
    font-weight: 800;
  }

  .image1{
    width: 50%;
  }
  
  .image2{
    width: 50%;
  }
  
  .image3{
    width: 275px;
  }
}